:root{
    --primary:#d89b22;
    --dark:#000;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8f9fa;
    overflow-x:hidden;
}

html{
    scroll-behavior:smooth;
}

section{
    padding:100px 0;
}

.section-heading span{
    background:#f4a825;
    color:#000;
    padding:10px 25px;
    border-radius:30px;
    font-weight:600;
    display:inline-block;
    margin-bottom:70px;
}

.section-heading h2{
    font-size:3rem;
    font-weight:700;
    color:#173b7a;
}

/* =========================
   HERO
========================= */

.launch-hero{
    height:100vh;
    position:relative;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
}

.launch-hero video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.65);
}

.hero-content{
    position:relative;
    z-index:2;
    color:white;
    max-width:1000px;
    margin:auto;
}

.hero-badge{
    display:inline-block;
    padding:12px 25px;
    border-radius:30px;
    background:#f4a825;
    color:#000;
    font-weight:600;
}

.hero-content h1{
    font-size:5rem;
    font-weight:800;
    margin-top:25px;
    text-shadow:0 4px 20px rgba(0,0,0,.4);
        font-family: 'Montserrat', sans-serif;
        opacity: 0.5;
  


}


.hero-content h1 span{
    color:#f4a825;
}

.hero-content p{
    max-width:800px;
    margin:25px auto;
    font-size:1.2rem;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}
.hero-buttons .btn{
    transition:.4s ease;
}

.hero-buttons .btn:hover{
    transform:translateY(-5px);
}
/* =========================
   STATS
========================= */

.stats-section{
    margin-top:-10px;
    position:relative;
    z-index:5;
}

.stat-card{
    background:white;
    border-radius:20px;
    padding:30px;
    box-shadow:20px 20px 5px rgba(0,0,0,.1);
    transition:.4s;
}

.stat-card:hover{
    transform:translateY(-12px) scale(1.03);
    background:#f4a825;
    color:white;
}

.stat-card h2{
    font-size:3rem;
    font-weight:800;
    color:#173b7a;
}

.stat-card p{
    margin:0;
    font-weight:500;
}

/* =========================
   SERVICES
========================= */

.launch-services{
    background:white;
}

.launch-card{
    background:#fff;
    border-radius:25px;
    padding:20px;
    text-align:center;
    box-shadow:10px 10px 0px rgba(0,0,0,.08);
    transition:.4s;
    height:100%;
}

.launch-card:hover{
    transform:translateY(-12px) scale(1.03);
    background:#173b7a;
    color:white;
}

.launch-card:hover i{
    color:#f4a825;
}

.launch-card i{
    font-size:50px;
    color:#173b7a;
    margin-bottom:20px;
    transition:.4s;
}

.launch-card h4{
    font-weight:700;
    margin-bottom:15px;
}

/* =========================
   PROCESS
========================= */

.process-section{
    background:#173b7a;
}

.process-section .section-heading h2{
    color:white;
}

.process-card{
    background:white;
    padding:40px 20px;
    border-radius:20px;
    text-align:center;
    transition:.4s;
    margin-bottom:20px;
    min-height:20px;
    transition:all .4s ease;
    cursor:pointer;

}

.process-card h5{
    transition:.4s;
}

.process-card:hover li{
    color:#f4a825;
}


.process-card:hover{
    transform:translateY(-15px) scale(1.03);
    box-shadow:0 20px 40px rgba(0,0,0,.2);
}
.step{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#173b7a;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
    font-size:25px;
    font-weight:700;
    transition:.4s;
}

.process-card:hover .step{
    background:#f4a825;
    color:#173b7a;
}

.process-card h5{
    margin-top:20px;
    font-weight:700;
     font-size:2rem;
}

.process-card ul{
    list-style:none;
    padding:0;
    margin-top:20px;
}

.process-card ul li{
    font-size:1.2rem;
    font-weight:500;
    margin:15px 0;
    color:#555;
     transition:.4s;
}
.process-card ul li::before{
    content:"•";
    color:#f4a825;
    font-weight:bold;
    margin-right:8px;
}



/* =========================
   GALLERY
========================= */

.gallery-img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:25px;
    transition:.5s;
}

.gallery-img:hover{
    transform:scale(1.08);
    box-shadow:0 15px 30px rgba(0,0,0,.2);
}
/* =========================
   CTA
========================= */

.cta-section{
    background:linear-gradient(
        135deg,
        #173b7a,
        #0e2550
    );    
    color:white;
    text-align:center;
}

.cta-section h2{
    font-size:3rem;
    font-weight:800;
}

.cta-section p{
    margin:20px 0;
    font-size:1.1rem;
}

#loader.fade-out{
    opacity:0;
    visibility:hidden;
    transition:.5s;
}
/* =========================
   RESPONSIVE
========================= */

@media(max-width:992px){

    .hero-content h1{
        font-size:3.5rem;
    }

    .section-heading h2{
        font-size:2.3rem;
    }
}

@media(max-width:768px){

    .hero-content h1{
        font-size:2.5rem;
    }

    .hero-content p{
        font-size:1rem;
    }

    .section-heading h2{
        font-size:2rem;
    }

    .gallery-img{
        height:250px;
    }
}

#loader{
    position:fixed;
    inset:0;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.loader-spinner{
    width:60px;
    height:60px;
    border:6px solid #ddd;
    border-top:6px solid #f4a825;
    border-radius:50%;
    animation:spin 1s linear infinite;
}

@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}

#backToTop{
    position:fixed;
    right:25px;
    bottom:25px;
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:#f4a825;
    color:black;
    font-size:20px;
    cursor:pointer;
    display:none;
    z-index:999;
    transition:.4s;
}

#backToTop:hover{
    transform:translateY(-5px);
}

@media(max-width:768px){

    .stat-card{
        margin-bottom:20px;
    }

    .hero-buttons{
        flex-direction:column;
        align-items:center;
    }
}

/* ==========================
   Footer premium
========================== */
.footer-premium{background:#0f172a; padding-top:50px; padding-bottom:40px; position:relative; z-index:1;}

.footer-grid{
  display:grid;
  grid-template-columns: 1.2fr 1fr 1fr 1.2fr;
  gap:40px;
  align-items:start;
}

.footer-column h3{color:#fff;font-size:1.6rem;font-weight:900;}
.footer-column h4{color:#fff;font-size:1.15rem;font-weight:900;}
.footer-column h5,.footer-column h6{color:rgba(255,255,255,.92);font-size:.95rem;font-weight:800;margin-top:14px;}

.footer-column p,.footer-column li{color:#cfcfcf;}

.footer-column ul{list-style:none;padding:0;margin-top:14px;}
.footer-column li{margin-bottom:10px;transition:transform .2s ease,color .2s ease;}
.footer-column li:hover{transform:translateX(4px);color:#fff;}

.social-icons{display:flex;gap:12px;margin-top:18px;flex-wrap:wrap;}

.social-icons a{
  width:46px;height:46px;border-radius:14px;
  display:flex;align-items:center;justify-content:center;
  background:rgba(255,255,255,.08);
  border:1px solid rgba(255,255,255,.14);
  transition:transform .25s ease, background .25s ease, border-color .25s ease;
}

.social-icons a:hover{transform:translateY(-3px);background:rgba(240,168,38,.18);border-color:rgba(240,168,38,.4);}

.social-icons i{color:#ffffff;font-size:18px;}

.map-box{overflow:hidden;border-radius:20px;}

.map-box iframe{
  width:100%;
  height:220px;
  border-radius:20px;
  border:0;
  display:block;
  transform:scale(1);
  transition:transform .45s ease;
}

.map-box:hover iframe{transform:scale(1.04);}

/* ==========================
   Responsive
========================== */
@media (max-width: 1200px){
  .footer-premium{padding-top:40px; padding-bottom:32px;}
}

@media (max-width: 992px){
  .footer-grid{grid-template-columns:1fr 1fr;gap:28px;}
}

@media (max-width: 768px){
  .footer-premium{padding:60px 0;}
  .footer-grid{grid-template-columns:1fr;gap:28px;}
}

@media (max-width: 576px){
  .footer-premium{padding:60px 0;}
  .footer-grid{grid-template-columns:1fr;gap:28px;}
}


 /* nav bar */
#progress {
    position: fixed;
    top: 0; left: 0;
    width: 0; height: 4px;
    background: var(--primary);
    z-index: 9999;
    transition: width .1s;
}

.nav-logo { height:40px; width: auto; border-radius: 50%; margin-left:10px; }
.company-name {
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 4px;
        line-height:1;

}
.nav-link {
    color:#fff !important;
    padding:12px 14px !important;
    margin-left:0;
    white-space:nowrap;
    transition:.3s;
}
.nav-icon { margin-right: 8px; font-size: .9rem; transition: .4s; }
.nav-link:hover .nav-icon {
    color: #ffc107;
    transform: translateY(-2px) scale(1.2);
}
.nav-link::after {
    content: '';
    position: absolute;
    left: 0; bottom: -5px;
    width: 0; height: 2px;
    background: var(--primary);
    transition: .4s;
}
.nav-link:hover::after { width: 100%; }
.nav-link:hover { color: var(--primary) !important; }
.hero { position: relative; height: 100vh; overflow: hidden; }
.hero-video {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(1.35) contrast(1.08) saturate(1.2);
}
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .28);
    z-index: 1;
}

/* Dropdown Box */
.service-dropdown{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);

    width: 380px;
    background: #050505;

    border-radius: 30px;
    padding: 20px 0;

    box-shadow: 0 20px 50px rgba(0,0,0,0.4);

    opacity: 0;
    visibility: hidden;

    transition: all .35s ease;

    z-index: 9999;
}

/* Show Dropdown */
.service-menu:hover .service-dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

/* Links */
.service-dropdown a{
    display: block;
    color: #fff;
    text-decoration: none;

    font-size: 18px;
    font-weight: 500;

    padding: 18px 30px;

    transition: all .3s ease;
}

/* Hover Effect */
.service-dropdown a:hover{
    color: #f4b400;
    padding-left: 40px;
}

/* Active Page */
.service-dropdown a.active{
    color: #f4b400;
}

/* Small Orange Indicator */
.service-dropdown a.active::before{
    content: "";
    width: 6px;
    height: 6px;
    background: #f4b400;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

@media(max-width:992px){

.service-dropdown{
    position:static;
    width:100%;
    opacity:1;
    visibility:visible;
    transform:none;
    display:none;
}

.service-menu.active .service-dropdown{
    display:block;
}

}
.custom-navbar{
    background:#5f5c5c7b ;
    backdrop-filter:none;
    box-shadow:0 4px 20px rgba(0,0,0,.3) ;
}